<template name="post">
  <div class="title">
  	<div class="controls">
  		<form class="edit">
		  	<input type="text" name="title" value="{{title}}">
		  	<input type="text" name="description" value="{{description}}">
		  	<input type="submit" value="Submit" />
	  	</form>
	  	<button class="delete">&times;</button>
  	</div>
  	{{#if isUpvoted}}
  	{{else}}
  	<div class="post">
  	<div>
  		<button class="upvote">Upvote</button>
  	</div>
  	{{/if}}
  	<h1>{{title}}</h1>
  	<span>{{description}}</span>
  	{{score}}
  	
  </div>
  {{#if isOwner}}
  	<button class="toggle-show">Edit</button>
  	{{/if}}
</template>
<template name="newPost">
  <form class="new-post">
  	<input type="text" name="title" placeholder="Title">
  	<input type="text" name="description" placeholder="Description">
  	<input type="submit" value="Submit" />
  </form>
</template>