<template name="post">
  <div class="title">
  	{{#if show}}
  	{{#if isOwner}}
  	{{> editPost}}
  	{{/if}}
  	{{else}}
	<div class="post">
	  	<a class="upvote {{#if isUpvoted}}upvoted{{/if}}">
		  	<span class="upvote-arrow"></span>
		  	<span class="upvote-count">{{score}}</span>
	  	</a>
	  	<h1>{{title}}</h1>
	  	<span>{{description}}</span>
  	</div>
  	{{#if isOwner}}
  		<button class="toggle-show">Edit</button>
  	{{/if}}
  	{{/if}}
  </div>
</template>

<template name="editPost">
	<div class="{{#if show}}show{{/if}} controls">
		<a class="{{#if isUpvoted}}upvoted{{/if}}">
		  	<span class="upvote-arrow"></span>
		  	<span class="upvote-count">{{score}}</span>
		</a>
			<form class="edit">
		  	<input type="text" name="title" value="{{title}}">
		  	<input type="text" name="description" value="{{description}}">
		  	<input type="submit" value="Submit" />
	  	</form>
	  	<button class="delete">&times;</button>
	  	<button class="cancel toggle-show">Cancel</button>
	</div>
</template>

<template name="newPost">
  <form class="new-post">
  	<input type="text" name="title" placeholder="Title">
  	<input type="text" name="description" placeholder="Description">
  	<input type="submit" value="Submit" />
  </form>
</template>